@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@layer base {
  body {
    @apply font-inter w-full;

  }
}

@layer utilities{
    /* navber section start */
    .top_nav{
        @apply w-full h-[65px] flex justify-between items-center px-6 flex-1 gap-3 bg-green-400  shadow-sm ;
    }
    .input_main_div{
        @apply py-1 px-2 md:px-3 w-[30px] lg:w-[200px] max-w-[334px] rounded-md border-2 border-primary md:flex items-center gap-x-2 flex-1 hidden;
    }

    .input{
        @apply  focus:outline-none active:outline-none flex flex-1  w-7 md:w-[100px];
    }
    .notification_div{
        @apply w-[32px] h-[31px] rounded-lg border border-white flex justify-center items-center;
    }
    .nav_item{
        @apply flex  items-center gap-x-3 mt-1 hover:bg-primary hover:text-white rounded-md p-2 transition-all duration-300 cursor-pointer ;
    }
    /* navber section end */

    /* Assignments section start */
    .Assignments_title{
        @apply font-medium text-[26px] md:text-[32px] leading-[38px] text-wrap text-[#211C37];
    }
    .Assignments_p{
        @apply text-[#85878D] text-[20px] md:text-[18px] leading-[24px] mt-2;
    }
    .Assignments_CiSearch{
        @apply w-[32px] h-[31px] rounded-lg border border-white flex justify-center items-center shadow-md;
    }

    /* notes section start */
    .notes{
        @apply font-medium text-[26px] md:text-[32px] leading-[38px] text-wrap text-primary;
    }
    .notes_button{
        @apply flex gap-x-3 items-center w-[120px] h-[40px] rounded-lg border-1 border-primary py-2 px-3 text-primary font-bold hover:bg-primary hover:text-white transition-all duration-300 ;
    }
    .add_notes{
        @apply text-[13px] bg-primary text-white w-[140px] hover:bg-white hover:text-primary ;
    }
    
}
